{% extends 'layout.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <hr>
    <table>
        <tr>
            <th>Title</th>
            <th>Url</th>
            <th>Hash</th>
        </tr>
        {% for url in urls %}
            <tr>
                <td>{{ url._title }}</td>
                <td>{{ url._url }}</td>
                <td><a href="/{{ url._hash }}">{{ url._hash }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
